<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
      <img class="item-sheet-img" src="{{img}}" data-edit="img" title="{{name}}"/>
      <div class="header-fields">
          <h1 class=""><input name="name" type="text" value="{{name}}" placeholder="Name"/></h1>
      </div>
  </header>
  
  {{> systems/avd12/templates/items/partial-item-nav.hbs}}


  {{!-- Sheet Body --}}
  <section class="sheet-body item-sheet">

    {{> systems/avd12/templates/items/partial-item-description.hbs}}
    
    <div class="tab details" data-group="primary" data-tab="details">

      <div class="tab" data-group="primary">
        <ul>
          <li class="flexrow">
            <label class="item-field-label-long">Type</label>
            <select class="item-field-label-long" type="text" name="system.spelltype" value="{{system.spelltype}}" data-dtype="String">
              {{#select system.spelltype}}
                {{> systems/avd12/templates/items/partial-options-spell-types.hbs}}
              {{/select}}
            </select> 
          </li>

          <li class="flexrow">
            <label class="item-field-label-long">Level</label>
            <select class="item-field-label-long" type="text" name="system.level" value="{{system.level}}" data-dtype="String">
              {{#select system.level}}
                {{> systems/avd12/templates/items/partial-options-spell-levels.hbs}}
              {{/select}}
            </select> 
          </li>

          <li class="flexrow">
            <label class="item-field-label-long">Actions</label>
            <input type="text" class="item-field-label-long2" name="system.actions" value="{{system.actions}}" data-dtype="String"/>          
          </li>

          <li class="flexrow">
            <label class="item-field-label-long">Charge Effect</label>
            <input type="text" class="item-field-label-long2" name="system.chargeeffect" value="{{system.chargeeffect}}" data-dtype="String"/>          
          </li>

          <li class="flexrow">
            <label class="item-field-label-long">School</label>
            <select class="item-field-label-long" type="text" name="system.school" value="{{system.school}}" data-dtype="String">
              {{#select system.school}}
                {{> systems/avd12/templates/items/partial-options-spell-schools.hbs}}
              {{/select}}
            </select> 
          </li>

          <li class="flexrow">
            <label class="item-field-label-long">Damage</label>
            <input type="text" class="item-field-label-short" name="system.damage" value="{{system.damage}}" data-dtype="String"/>          
          </li>

          <li class="flexrow">
            <label class="item-field-label-long">Damage Type</label>
            <select class="item-field-label-long" type="text" name="system.damagetype" value="{{system.damagetype}}" data-dtype="String">
              {{#select system.damagetype}}
                {{> systems/avd12/templates/items/partial-options-damage-types.hbs}}
              {{/select}}
            </select> 
          </li>

          <li class="flexrow">
            <label class="item-field-label-long">Secondary Damage</label>
            <input type="text" class="item-field-label-short" name="system.damagesecondary" value="{{system.damagesecondary}}" data-dtype="String"/>          
          </li>

          <li class="flexrow">
            <label class="item-field-label-long">Secondary Damage Type</label>
            <select class="item-field-label-long" type="text" name="system.damagesecondarytype" value="{{system.damagesecondarytype}}" data-dtype="String">
              {{#select system.damagetype}}
                {{> systems/avd12/templates/items/partial-options-damage-types.hbs}}
              {{/select}}
            </select> 
          </li>

          <li class="flexrow">
            <label class="item-field-label-long">Range</label>
            <input type="text" class="item-field-label-short" name="system.range" value="{{system.range}}" data-dtype="Number"/>
          </li>

          <li class="flexrow">
            <label class="item-field-label-long">Components</label>
            <input type="text" class="item-field-label-long2" name="system.components" value="{{system.components}}" data-dtype="String"/>
          </li>

          <li class="flexrow">
            <label class="item-field-label-long">Reaction?</label>
            <input type="checkbox" class="item-field-label-short item-checkbox" name="system.reaction" {{checked system.reaction}} />
          </li>

          <li class="flexrow">
            <label class="item-field-label-long">Sustained?</label>
            <input type="checkbox" class="item-field-label-short item-checkbox" name="system.sustained" {{checked system.sustained}} />
          </li>

        </ul>
    </div>
  </div>

  </section>
</form>
