
 <div class="chat-message-header">
  {{#if actor.img}}
    <img class="actor-icon" src="{{actor.img}}" alt="{{actor.name}}" />
    {{/if}}
  <h4 class="chat-actor-name">{{alias}}</h4>
</div>
  <div class="avd12-use-action" data-actor-id="{{actor._id}}" data-action-id="{{action._id}}" {{#if tokenId}}data-token-id="{{tokenId}}"{{/if}}>
    <ul style="padding:5px;">
      {{#if (eq action.type "freeaction")}}<h3 class="use-banner freeaction-banner">Free Action</h3>{{/if}}
      {{#if (eq action.type "reaction")}}<h3 class="use-banner reaction-banner">Reaction</h3>{{/if}}
      {{#if (eq action.type "action")}}<h3 class="use-banner action-banner">Action</h3>{{/if}}
      {{#if (eq action.type "ballad")}}<h3 class="use-banner ballad-banner">Ballad</h3>{{/if}}
  
      <h3 style="font-size:16px;">{{actor.name}} used {{action.name}}!</h3>
      
      {{#if (and (eq actor.type "character") (and (ne action.type "freeaction") (ne action.type "ballad")))}}<li><b>Uses: {{action.system.uses.current}} / {{action.system.uses.max}}</b></li>{{/if}}

      <li style="border:1px black solid; border-radius:5px; background-color: rgb(67, 51, 70); padding:10px;"><span style="padding:0px">{{{map action.system.description actor}}}</span></li>
      <li style="padding-top:3px;" class="flex-center">{{#if action.system.utility_roll}}<button data-action="utility" class="action-roll-btn avd12-button" >Roll Utility</button>{{/if}}</li>
      <li style="padding-top:3px;" class="flex-center">{{#if action.system.attack_roll}}<button data-action="action" class="action-roll-btn avd12-button" >Roll Attack</button>{{/if}}</li>
      <li style="padding-top:3px;" class="flex-center">{{#if action.system.check_roll}}<button data-action="check" class="action-roll-btn avd12-button" >Roll Check</button>{{/if}}</li>
      <li style="padding-top:3px;" class="flex-center">{{#if action.system.damage_roll}}<button data-action="damage" class="action-roll-btn avd12-button" >Roll Damage</button>{{/if}}</li>
      <li style="padding-top:3px;" class="flex-center">{{#if action.system.secondary_damage_roll}}<button data-action="damage-secondary" class="action-roll-btn avd12-button" >Roll Secondary Damage</button>{{/if}}</li>
      <li style="padding-top:3px;" class="flex-center">{{#if action.system.tertiary_damage_roll}}<button data-action="damage-tertiary" class="action-roll-btn avd12-button" >Roll Tertiary Damage</button>{{/if}}</li>
    </ul>
  </div>
</div>
