<div class="chat-message-header">
  {{#if actorImg}}
  <img class="actor-icon" src="{{actorImg}}" alt="{{alias}}" />
  {{/if}}
  <h4 class=chat-actor-name>{{alias}}</h4>
</div>
  <hr>
  {{#if img}}
  <div >
    <img class="chat-icon" src="{{img}}" alt="{{name}}" />
  </div>
  {{/if}}
  <div class="flexcol">
    </div>
    <div>
      <ul>
        {{#if nen}}
        <li> {{alias}} does not have enough Power to channel {{spell.name}}.</li>
        {{else}}
        <li>{{spell.name}} has been channeled !</li>
        <li>Focus Points Spent : {{spellCost}} </li>
         {{/if}}
      </ul>  
    </div>

  </div>
