<div class="chat-message-header">
  {{#if actorImg}}
  <img class="actor-icon" src="{{actorImg}}" alt="{{alias}}" />
  {{/if}}
  <h4 class=chat-actor-name>{{alias}}</h4>
</div>

  <hr>
  
  {{#if img}}
  <div >
    <img class="chat-icon" src="{{img}}" alt="{{name}}" />
  </div>
  {{/if}}

  <div class="flexcol">
    </div>

    <div>
      <ul>
        <li>Utility Spell {{spell.name}} has been casted !
        </li>
        <li>Focus Points Spent : {{spellCost}} 
        </li>
      </ul>  
    </div>

  </div>
