<div class="chat-message-header">
  {{#if actorImg}}
  <img class="actor-icon" src="{{actorImg}}" alt="{{alias}}" />
  {{/if}}
  <h4 class=chat-actor-name>{{alias}}</h4>
</div>

  <hr>
  
  {{#if img}}
  <div >
    <img class="chat-icon" src="{{img}}" alt="{{name}}" />
  </div>
  {{/if}}

  <div class="flexcol">
    </div>

    <div>
      <ul>
        {{#if skill}}
        <li>Skill : {{skill.name}} ({{skill.finalvalue}}) 
        </li>
        {{/if}}

        <li>Dice Formula {{diceFormula}} </li>
        <li>Result {{roll.total}} </li>

        {{#if (ne targetCheck "none")}}
          {{#if isSuccess}}
          <li><strong>Success !</strong></li>
          {{else}}
          <li><strong>Failure !</strong></li>
          {{/if}}
        {{/if}}

      </ul>  
    </div>

  </div>
