
  <hr>

  {{#if actor.img}}
  <div >
    <img class="chat-icon" src="{{actor.img}}" alt="{{actor.name}}" />
  </div>
  {{/if}}

  <div class="flexcol">
    <div>
      <ul>
        <li><b>{{actor.name}}</b> completed a {{favorable}} Rest and recovered <b>{{health}}</b> Health and <b>{{power}}</b> Power!</b></li>
      </ul>  
    </div>
    </div>
    

