<form class="skill-roll-dialog">
  <header class="roll-dialog-header">
    {{#if img}}
    <img class="actor-icon" src="{{img}}" data-edit="img" title="{{name}}" />
    {{/if}}
    <h1 class="dialog-roll-title roll-dialog-header">{{title}}</h1>
  </header>

    <div class="flexcol">
      

      {{#if action}}
        {{#if (eq action.type "action")}}
        
        {{/if}}
        {{#if (eq action.type "damage")}}
          
        {{/if}}
        {{#if (eq type "check")}}
         
        {{/if}}




      {{/if}}

      {{#if skill}}
      <div class="flexrow">
        <span class="roll-dialog-label">Skill : </span>
        <span class="roll-dialog-label">{{skill.name}} ({{skill.finalvalue}})</span>
      </div>
      {{/if}}

      {{#if crafting}}
      <div class="flexrow">
        <span class="roll-dialog-label">Crafting : </span>
        <span class="roll-dialog-label">{{crafting.name}} ({{crafting.system.level}})</span>
      </div>
      {{/if}}

      {{#if weapon}}
      <div class="flexrow">
        <span class="roll-dialog-label">Weapon Attack Bonus : </span>
        <span class="roll-dialog-label">{{weapon.attackBonus}}</span>
      </div>
      {{/if}}

      {{#if spell}}
      <div class="flexrow">
        <span class="roll-dialog-label">Spell : </span>
        <span class="roll-dialog-label">{{spell.name}} ({{upperFirst spell.system.level}} - Cost : {{spellCost}})</span>
      </div>
      <div class="flexrow">
        <span class="roll-dialog-label">Spell Attack level : </span>
        <span class="roll-dialog-label">{{spellAttack}}</span>
      </div>
      <div class="flexrow">
        <span class="roll-dialog-label">Spell Damage level : </span>
        <span class="roll-dialog-label">{{spellDamage}}</span>
      </div>
      {{/if}}

      <div class="flexrow">
        <span class="roll-dialog-label">Modifier : </span>
        <input type="text" class=" flex-center" id="bonusMalusRoll" name="bonusMalusRoll" value="0" data-dtype="Number"/>  

      </div>

      

      {{#if (eq skillKey "initiative") }}

      {{else}}
       
      {{/if}}

  </div>

</form>