<form class="{{cssClass}}" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <div class="header-fields">
      
      <div class="flexrow">
        <img class="profile-img" src="{{img}}" data-edit="img" title="{{name}}" />
        <div class="middle flexcol">
          
 
          <!--<h3 class="flex-center">Name</h3><input class="charname" name="name" type="text" value="{{name}}" placeholder="Name" />-->

          <div class="flexrow name-section flex2">
            <div class="flexcol flex-center flex0">
              <h3 class="flex-center">Name</h3><input class="charname" name="name" type="text" value="{{name}}" placeholder="Name" />
            </div>
            <div class="flexcol flexgroup-center flex-center">
              <h3 class="flex-center flex0">{{system.level.label}}</h3>
              <input type="text" class="item-field-label-short level-input" name="system.level.value" value="{{system.level.value}}" data-dtype="Number"/>
            </div>
          </div>



          <div class="flexrow health-section flex2">
              <div class="flexcol flex-center flex1">
                  <h3 class="flexrow flex-center flex0">Health</h3>
                  <div class="flexrow ">
                      <div class="flexcol">
                        <span class="attribute-label flex0">Current</span>
                        <input type="text" class="item-field-label-short health-input" name="system.health.value" value="{{system.health.value}}" data-dtype="Number"/>
                      </div>
                      <div class="flexcol">
                         <span class="attribute-label flex0">Max</span>
                        <input type="text" class="item-field-label-short health-input" name="system.health.max" value="{{system.health.max}}" data-dtype="Number"/>
                      </div>
                      <div class="flexcol">
                         <span class="attribute-label flex0">Temp</span>
                        <input type="text" class="item-field-label-short health-input" name="system.health.tmpvalue" value="{{system.health.tmpvalue}}" data-dtype="Number"/>
                      </div>
                  </div>
              </div>
              <div class="flexcol">
                  <div class="flexcol flex-center">
                    <h3 class="flex-center flex0">Lifeline</h3>
                    <div class="flexrow">
                      <div class="flexcol">
                        <span class="attribute-label flex0">Current</span>
                        <input type="text" class="item-field-label-short health-input" name="system.lifeline.value" value="{{system.lifeline.value}}" data-dtype="Number"/>
                      </div>
                      <div class="flexcol">
                        <span class="attribute-label flex0">Max</span>
                        <input type="text" class="item-field-label-short health-input" name="system.lifeline.max" value="{{system.lifeline.max}}" data-dtype="Number"/>  
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        <div class="flexcol">

            <div class="flex-center flex0">
            <h3 id="movespeed-title">Attributes</h3>
          </div>
          <div class="flexrow flex2">
              <div class="flexcol flex-center">
                  <span class="attribute-label flex0">Might</span>
                  <input type="text" class="item-field-label-short attribute-input" name="system.attributes.might.value" value="{{system.attributes.might.value}}" data-dtype="Number"/>
              </div>
              <div class="flexcol flex-center">
                  <span class="attribute-label flex0">Agility</span>
                  <input type="text" class="item-field-label-short attribute-input" name="system.attributes.agility.value" value="{{system.attributes.agility.value}}" data-dtype="Number"/>
              </div>

              <div class="flexcol flex-center">
                  <span class="attribute-label flex0">Willpower</span>
                  <input type="text" class="item-field-label-short attribute-input" name="system.attributes.willpower.value" value="{{system.attributes.willpower.value}}" data-dtype="Number"/>
              </div>

              <div class="flexcol flex-center">
                  <span class="attribute-label flex0">Knowledge</span>
                  <input type="text" class="item-field-label-short attribute-input" name="system.attributes.knowledge.value" value="{{system.attributes.knowledge.value}}" data-dtype="Number"/>
              </div>

              <div class="flexcol flex-center">
                  <span class="attribute-label flex0">Social</span>
                  <input type="text" class="item-field-label-short attribute-input" name="system.attributes.social.value" value="{{system.attributes.social.value}}" data-dtype="Number"/>
              </div>
          </div>

          <div class="flex-center flex0">
            <h3 id="movespeed-title">Movespeed</h3>
          </div>

          <div class="flexrow">
              <div class="flexcol flex-center">
                  <span class="movement-label flex0">{{system.movement.walk.label}}</span>
                  <input type="text" class="item-field-label-short movement-input" name="system.movement.walk.value" value="{{system.movement.walk.value}}" data-dtype="Number"/>
              </div>
              <div class="flexcol flex-center">
                  <span class="movement-label flex0">{{system.movement.fly.label}}</span>
                  <input type="text" class="item-field-label-short movement-input" name="system.movement.fly.value" value="{{system.movement.fly.value}}" data-dtype="Number"/>
              </div>
               <div class="flexcol flex-center">
                  <span class="movement-label flex0">{{system.movement.climb.label}}</span>
                  <input type="text" class="item-field-label-short movement-input" name="system.movement.climb.value" value="{{system.movement.climb.value}}" data-dtype="Number"/>
              </div>
              <div class="flexcol flex-center">
                  <span class="movement-label flex0">{{system.movement.burrow.label}}</span>
                  <input type="text" class="item-field-label-short movement-input" name="system.movement.burrow.value" value="{{system.movement.burrow.value}}" data-dtype="Number"/>
              </div>
              <div class="flexcol flex-center">
                  <span class="movement-label flex0">{{system.movement.hover.label}}</span>
                  <input type="text" class="item-field-label-short movement-input" name="system.movement.hover.value" value="{{system.movement.hover.value}}" data-dtype="Number"/>
              </div>  
          </div>
        </div> 
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="main">Main</a>
    <a class="item" data-tab="modules">Modules</a>
    <a class="item" data-tab="spells">Spells</a>
    <a class="item" data-tab="moves">Moves</a>
    <a class="item" data-tab="traits">Traits</a>
    <a class="item" data-tab="equipment">Equipment</a>
    <a class="item" data-tab="crafting">Crafting</a>
    <a class="item" data-tab="biodata">Biography</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Skills Tab --}}
    <div class="tab main" data-group="primary" data-tab="main">
      <div class="grid-2col">
        <div>
        <ul class="stat-list alternate-list">
            <li class="item flexrow list-item items-title-bg">
              <span class="item-name-label-header-long">
                <h3><label class="items-title-text">Skills</label></h3>
              </span>
            </li>

          <div class="flexcol">
             <span class="small-skill flexrow ">
              <input type="checkbox" class="skill-good-checkbox" name="system.attributes.knowledge.skills.academic.good" {{checked system.attributes.knowledge.skills.academic.good}} />
              <section class="skill-title flex2" >Academics:</section>
              <section class="skill-value flex1">{{#if (gt system.attributes.knowledge.skills.academic.finalvalue -1)}}+{{/if}}{{system.attributes.knowledge.skills.academic.finalvalue}}</section>
              <img class=" roll-skill ui-dice flex0 flex-center"   width="24px" height="24px" src="systems/fvtt-avd12/images/ui/D12_White.webp" data-skill-key="academic" data-attr-key="knowledge"/>
               <section class="skill-title flex1" ></section>
            </span>

             <span class="small-skill flexrow  odd-row">
              <input type="checkbox" class="skill-good-checkbox" name="system.attributes.agility.skills.acrobatics.good" {{checked system.attributes.agility.skills.acrobatics.good}} />
              <section class="skill-title flex2" >Acrobatics:</section>
              <section class="skill-value flex1">{{#if (gt system.attributes.agility.skills.acrobatics.finalvalue -1)}}+{{/if}}{{system.attributes.agility.skills.acrobatics.finalvalue}}</section>
              <img class="roll-skill ui-dice flex0 flex-center"  width="24px" height="24px" src="systems/fvtt-avd12/images/ui/D12_White.webp" data-skill-key="acrobatics" data-attr-key="agility"></img>
               <section class="skill-title flex1" ></section>
            </span>

             <span class="small-skill flexrow ">
              <input type="checkbox" class="skill-good-checkbox" name="system.attributes.social.skills.animals.good" {{checked system.attributes.social.skills.animals.good}} />
              <section class="skill-title flex2" >Animals:</section>
              <section class="skill-value flex1">{{#if (gt system.attributes.social.skills.animals.finalvalue -1)}}+{{/if}}{{system.attributes.social.skills.animals.finalvalue}}</section>
              <img class=" roll-skill ui-dice flex0 flex-center"   width="24px" height="24px" src="systems/fvtt-avd12/images/ui/D12_White.webp" data-skill-key="animals" data-attr-key="social"/>
               <section class="skill-title flex1" ></section>
            </span>

            <span class="small-skill flexrow  odd-row">
              <input type="checkbox" class="skill-good-checkbox" name="system.attributes.knowledge.skills.arcanum.good" {{checked system.attributes.knowledge.skills.arcanum.good}} />
              <section class="skill-title flex2" >Arcanum:</section>
              <section class="skill-value flex1">{{#if (gt system.attributes.knowledge.skills.arcanum.finalvalue -1)}}+{{/if}}{{system.attributes.knowledge.skills.arcanum.finalvalue}}</section>
              <img class=" roll-skill ui-dice flex0 flex-center"   width="24px" height="24px" src="systems/fvtt-avd12/images/ui/D12_White.webp" data-skill-key="arcanum" data-attr-key="knowledge"/>
               <section class="skill-title flex1" ></section>
            </span>

            
            <span class="small-skill flexrow ">
              <input type="checkbox" class="skill-good-checkbox" name="system.attributes.might.skills.athletics.good" {{checked system.attributes.might.skills.athletics.good}} />
              <section class="skill-title flex2" >Athletics:</section>
              <section class="skill-value flex1">{{#if (gt system.attributes.might.skills.athletics.finalvalue -1)}}+{{/if}}{{system.attributes.might.skills.athletics.finalvalue}}</section>
              <img class=" roll-skill ui-dice flex0 flex-center"   width="24px" height="24px" src="systems/fvtt-avd12/images/ui/D12_White.webp" data-skill-key="athletics" data-attr-key="might"/>
               <section class="skill-title flex1" ></section>
            </span>

            <span class="small-skill flexrow  odd-row">
              <input type="checkbox" class="skill-good-checkbox" name="system.attributes.willpower.skills.concentration.good" {{checked system.attributes.willpower.skills.concentration.good}} />
              <section class="skill-title flex2" >Concentration:</section>
              <section class="skill-value flex1">{{#if (gt system.attributes.willpower.skills.concentration.finalvalue -1)}}+{{/if}}{{system.attributes.willpower.skills.concentration.finalvalue}}</section>
              <img class=" roll-skill ui-dice flex0 flex-center"   width="24px" height="24px" src="systems/fvtt-avd12/images/ui/D12_White.webp" data-skill-key="concentration" data-attr-key="willpower"/>
               <section class="skill-title flex1" ></section>
            </span>

            <span class="small-skill flexrow ">
              <input type="checkbox" class="skill-good-checkbox" name="system.attributes.willpower.skills.endurance.good" {{checked system.attributes.willpower.skills.endurance.good}} />
              <section class="skill-title flex2" >Endurance:</section>
              <section class="skill-value flex1">{{#if (gt system.attributes.willpower.skills.endurance.finalvalue -1)}}+{{/if}}{{system.attributes.willpower.skills.endurance.finalvalue}}</section>
              <img class=" roll-skill ui-dice flex0 flex-center"   width="24px" height="24px" src="systems/fvtt-avd12/images/ui/D12_White.webp" data-skill-key="endurance" data-attr-key="willpower"/>
               <section class="skill-title flex1" ></section>
            </span>

            <span class="small-skill flexrow  odd-row">
              <input type="checkbox" class="skill-good-checkbox" name="system.attributes.universal.skills.initiatve.good" {{checked system.universal.skills.initiative.good}} />
              <section class="skill-title flex2" >Initiative:</section>
              <section class="skill-value flex1">{{#if (gt system.universal.skills.initiative.finalvalue -1)}}+{{/if}}{{system.universal.skills.initiative.finalvalue}}</section>
              <img class=" roll-universal ui-dice flex0 flex-center"   width="24px" height="24px" src="systems/fvtt-avd12/images/ui/D12_White.webp" data-skill-key="initiative"/>
               <section class="skill-title flex1" ></section>
            </span>

            <span class="small-skill flexrow ">
              <input type="checkbox" class="skill-good-checkbox" name="system.attributes.social.skills.insight.good" {{checked system.attributes.social.skills.insight.good}} />
              <section class="skill-title flex2" >Animals:</section>
              <section class="skill-value flex1">{{#if (gt system.attributes.social.skills.insight.finalvalue -1)}}+{{/if}}{{system.attributes.social.skills.insight.finalvalue}}</section>
              <img class=" roll-skill ui-dice flex0 flex-center"   width="24px" height="24px" src="systems/fvtt-avd12/images/ui/D12_White.webp" data-skill-key="insight" data-attr-key="social"/>
               <section class="skill-title flex1" ></section>
            </span>

            <span class="small-skill flexrow  odd-row">
              <input type="checkbox" class="skill-good-checkbox" name="system.attributes.knowledge.skills.medicine.good" {{checked system.attributes.knowledge.skills.medicine.good}} />
              <section class="skill-title flex2" >Medicine:</section>
              <section class="skill-value flex1">{{#if (gt system.attributes.knowledge.skills.medicine.finalvalue -1)}}+{{/if}}{{system.attributes.knowledge.skills.medicine.finalvalue}}</section>
              <img class=" roll-skill ui-dice flex0 flex-center"   width="24px" height="24px" src="systems/fvtt-avd12/images/ui/D12_White.webp" data-skill-key="medicine" data-attr-key="knowledge"/>
               <section class="skill-title flex1" ></section>
            </span>

             <span class="small-skill flexrow ">
              <input type="checkbox" class="skill-good-checkbox" name="system.attributes.social.skills.performance.good" {{checked system.attributes.social.skills.performance.good}} />
              <section class="skill-title flex2" >Performance:</section>
              <section class="skill-value flex1">{{#if (gt system.attributes.social.skills.performance.finalvalue -1)}}+{{/if}}{{system.attributes.social.skills.performance.finalvalue}}</section>
              <img class=" roll-skill ui-dice flex0 flex-center"   width="24px" height="24px" src="systems/fvtt-avd12/images/ui/D12_White.webp" data-skill-key="performance" data-attr-key="social"/>
               <section class="skill-title flex1" ></section>
            </span>

            <span class="small-skill flexrow  odd-row">
              <input type="checkbox" class="skill-good-checkbox" name="system.attributes.social.skills.persuasion.good" {{checked system.attributes.social.skills.persuasion.good}} />
              <section class="skill-title flex2" >Persuasion:</section>
              <section class="skill-value flex1">{{#if (gt system.attributes.social.skills.persuasion.finalvalue -1)}}+{{/if}}{{system.attributes.social.skills.persuasion.finalvalue}}</section>
              <img class=" roll-skill ui-dice flex0 flex-center"   width="24px" height="24px" src="systems/fvtt-avd12/images/ui/D12_White.webp" data-skill-key="persuasion" data-attr-key="social"/>
               <section class="skill-title flex1" ></section>
            </span>

            <span class="small-skill flexrow">
              <input type="checkbox" class="skill-good-checkbox" name="system.attributes.universal.skills.search.good" {{checked system.universal.skills.search.good}} />
              <section class="skill-title flex2" >Search:</section>
              <section class="skill-value flex1">{{#if (gt system.universal.skills.search.finalvalue -1)}}+{{/if}}{{system.universal.skills.search.finalvalue}}</section>
              <img class=" roll-universal ui-dice flex0 flex-center"   width="24px" height="24px" src="systems/fvtt-avd12/images/ui/D12_White.webp" data-skill-key="search"/>
               <section class="skill-title flex1" ></section>
            </span>

            <span class="small-skill flexrow  odd-row">
              <input type="checkbox" class="skill-good-checkbox" name="system.attributes.agility.skills.stealth.good" {{checked system.attributes.agility.skills.stealth.good}} />
              <section class="skill-title flex2" >Stealth:</section>
              <section class="skill-value flex1">{{#if (gt system.attributes.agility.skills.stealth.finalvalue -1)}}+{{/if}}{{system.attributes.agility.skills.stealth.finalvalue}}</section>
              <img class=" roll-skill ui-dice flex0 flex-center"   width="24px" height="24px" src="systems/fvtt-avd12/images/ui/D12_White.webp" data-skill-key="stealth" data-attr-key="agility"/>
               <section class="skill-title flex1" ></section>
            </span>

             <span class="small-skill flexrow ">
              <input type="checkbox" class="skill-good-checkbox" name="system.attributes.might.skills.strength.good" {{checked system.attributes.might.skills.strength.good}} />
              <section class="skill-title flex2" >Strength:</section>
              <section class="skill-value flex1">{{#if (gt system.attributes.might.skills.strength.finalvalue -1)}}+{{/if}}{{system.attributes.might.skills.strength.finalvalue}}</section>
              <img class=" roll-skill ui-dice flex0 flex-center"   width="24px" height="24px" src="systems/fvtt-avd12/images/ui/D12_White.webp" data-skill-key="strength" data-attr-key="might"/>
               <section class="skill-title flex1" ></section>
            </span>

            <span class="small-skill flexrow odd-row">
              <input type="checkbox" class="skill-good-checkbox" name="system.attributes.knowledge.skills.thievery.good" {{checked system.attributes.knowledge.skills.thievery.good}} />
              <section class="skill-title flex2" >Thievery:</section>
              <section class="skill-value flex1">{{#if (gt system.attributes.knowledge.skills.thievery.finalvalue -1)}}+{{/if}}{{system.attributes.knowledge.skills.thievery.finalvalue}}</section>
              <img class=" roll-skill ui-dice flex0 flex-center"   width="24px" height="24px" src="systems/fvtt-avd12/images/ui/D12_White.webp" data-skill-key="thievery" data-attr-key="knowledge"/>
               <section class="skill-title flex1" ></section>
            </span>


          <span class="small-skill flexrow ">
              <input type="checkbox" class="skill-good-checkbox" name="system.attributes.knowledge.skills.wilderness.good" {{checked system.attributes.knowledge.skills.wilderness.good}} />
              <section class="skill-title flex2" >Wilderness:</section>
              <section class="skill-value flex1">{{#if (gt system.attributes.knowledge.skills.wilderness.finalvalue -1)}}+{{/if}}{{system.attributes.knowledge.skills.wilderness.finalvalue}}</section>
              <img class=" roll-skill ui-dice flex0 flex-center"   width="24px" height="24px" src="systems/fvtt-avd12/images/ui/D12_White.webp" data-skill-key="wilderness" data-attr-key="knowledge"/>
               <section class="skill-title flex1" ></section>
            </span>
          </div>
          </ul>
        </div>
        
        <div>
          <ul class="stat-list alternate-list">
            <li class="item flexrow list-item items-title-bg">
              <span class="item-name-label-header-long">
                <h3><label class="items-title-text">Defense</label></h3>
              </span>
            </li>

            <div class="flexrow flexrow-no-expand flex-center">
              <span class="item-field-skill skill-label large-skill">

                <div class="flexcol">
                  <a class="flex-center">Dodge:{{system.attributes.agility.skills.dodge.finalvalue}}</a>
                  <a class=""> <img class=" roll-skill ui-dice flex-center"   width="32px" height="32px" src="systems/fvtt-avd12/images/ui/D12_White.webp" data-skill-key="dodge" data-attr-key="agility"/></a>
                </div>
            </span>
              <span class="item-field-skill skill-label large-skill">
              <div class="flexcol">
                  <a class="flex-center">Block:{{system.attributes.might.skills.block.finalvalue}}</a>
                  <a class=""> <img class=" roll-skill ui-dice flex-center"   width="32px" height="32px" src="systems/fvtt-avd12/images/ui/D12_White.webp" data-skill-key="block" data-attr-key="might"/></a>
                </div>              </span>
              <span class="item-field-skill skill-label large-skill">
            <div class="flexcol">
                  <a class="flex-center">Resist:{{system.attributes.willpower.skills.resistance.finalvalue}}</a>
                  <a class=""> <img class=" roll-skill ui-dice flex-center"   width="32px" height="32px" src="systems/fvtt-avd12/images/ui/D12_White.webp" data-skill-key="resistance" data-attr-key="willpower"/></a>
                </div>              </span>
            </div>
              
            <div class="flex-row">
              <button id="take-damage-btn" class="flex0">Take Damage</button>
            </div>

            {{#each system.mitigation as |mitigation key|}}
            {{#if (ne mitigation.value 0)}}
            <li class="item flexrow list-item list-item-shadow" data-mitigation-id="{{key}}">
              <span class="item-name-label-medium">{{mitigation.label}}</span>
              <span class="item-name-label-short">{{mitigation.value}}</span>
            </li>
            {{/if}}
            {{/each}}
          </ul>
          <ul class="stat-list alternate-list">
          <li class="item flexrow list-item items-title-bg">
            <span class="item-name-label-header-long">
              <h3><label class="items-title-text">Offense</label></h3>
            </span>
          </li>
          {{#if (and (ne 0 system.bonus.slash.attack) (ne 0 system.bonus.slash.damage))}}
          <li class="item flexrow list-item list-item-shadow">
            <span class="item-name-label-medium">Slashing Weapons</span>
            <ul class="ul-level1">
              <li class="item flexrow list-item list-item-shadow">
                <span class="item-name-label-short">Attack</span>
                <span class="item-name-label-short">{{system.bonus.slash.attack}}</span>
              </li>
              <li class="item flexrow list-item list-item-shadow">
                <span class="item-name-label-short">Damage</span>
                <span class="item-name-label-short">{{system.bonus.slash.damage}}</span>
              </li>
            </ul>
          </li>
          {{/if}}
          {{#if (and (ne 0 system.bonus.blunt.attack) (ne 0 system.bonus.blunt.damage))}}
            <li class="item flexrow list-item list-item-shadow">
            <span class="item-name-label-medium">Blunt Weapons</span>
            <ul class="ul-level1">
              <li class="item flexrow list-item list-item-shadow">
                <span class="item-name-label-short">Attack</span>
                <span class="item-name-label-short">{{system.bonus.blunt.attack}}</span>
              </li>
              <li class="item flexrow list-item list-item-shadow">
                <span class="item-name-label-short">Damage</span>
                <span class="item-name-label-short">{{system.bonus.blunt.damage}}</span>
              </li>
            </ul>
          </li>
          {{/if}}
          {{#if (and (ne 0 system.bonus.pierce.attack) (ne 0 system.bonus.pierce.damage))}}
            <li class="item flexrow list-item list-item-shadow">
            <span class="item-name-label-medium">Piercing Weapons</span>
            <ul class="ul-level1">
              <li class="item flexrow list-item list-item-shadow">
                <span class="item-name-label-short">Attack</span>
                <span class="item-name-label-short">{{system.bonus.pierce.attack}}</span>
              </li>
              <li class="item flexrow list-item list-item-shadow">
                <span class="item-name-label-short">Damage</span>
                <span class="item-name-label-short">{{system.bonus.pierce.damage}}</span>
              </li>
            </ul>
          </li>
          {{/if}}
          {{#if (and (ne 0 system.bonus.unarmed.attack) (ne 0 system.bonus.unarmed.damage))}}
           <li class="item flexrow list-item list-item-shadow">
            <span class="item-name-label-medium">Unarmed</span>
            <ul class="ul-level1">
              <li class="item flexrow list-item list-item-shadow">
                <span class="item-name-label-short">Attack</span>
                <span class="item-name-label-short">{{system.bonus.unarmed.attack}}</span>
              </li>
              <li class="item flexrow list-item list-item-shadow">
                <span class="item-name-label-short">Damage</span>
                <span class="item-name-label-short">{{system.bonus.unarmed.damage}}</span>
              </li>
            </ul>
          </li>
          {{/if}}
          {{#if (and (ne 0 system.bonus.ranged.attack) (ne 0 system.bonus.ranged.damage))}}
          <li class="item flexrow list-item list-item-shadow">
            <span class="item-name-label-medium">Ranged Weapons</span>
            <ul class="ul-level1">
              <li class="item flexrow list-item list-item-shadow">
                <span class="item-name-label-short">Attack</span>
                <span class="item-name-label-short">{{system.bonus.ranged.attack}}</span>
              </li>
              <li class="item flexrow list-item list-item-shadow">
                <span class="item-name-label-short">Damage</span>
                <span class="item-name-label-short">{{system.bonus.ranged.damage}}</span>
              </li>
            </ul>
          </li>
          {{/if}}
          {{#if (and (ne 0 system.bonus.spell.attack) (ne 0 system.bonus.spell.damage))}}
          <li class="item flexrow list-item list-item-shadow">
            <span class="item-name-label-medium">Spells</span>
            <ul class="ul-level1">
              <li class="item flexrow list-item list-item-shadow">
                <span class="item-name-label-short">Attack</span>
                <span class="item-name-label-short">{{system.bonus.spell.attack}}</span>
              </li>
              <li class="item flexrow list-item list-item-shadow">
                <span class="item-name-label-short">Damage</span>
                <span class="item-name-label-short">{{system.bonus.spell.damage}}</span>
              </li>
            </ul>
          </li>
            {{/if}}
        </ul>
     
        
        </div>
      </div>
    </div>

    {{!-- Modules Tab --}}
    <div class="tab modules" data-group="primary" data-tab="modules">

      <div class="flexcol">
          <ul class="stat-list alternate-list">
            <li class="item flexrow list-item items-title-bg">
              <span class="item-name-label-header-long">
                <h3><label class="items-title-text">Modules</label></h3>
              </span>
            </li>
            {{#each modules as |module key|}}
            <li class="item flexrow list-item list-item-shadow" data-item-id="{{module._id}}">
              <a class="item-edit item-name-img" title="Edit Item"><img class="sheet-competence-img"
                  src="{{module.img}}" /></a>
              <span class="item-name-label-long"><a class ="item-edit">{{module.name}}</a></span>

              <div class="item-filler">&nbsp;</div>
              <div class="item-controls item-controls-fixed">
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
              </div>
            </li>
            {{/each}}
          </ul>
        </div>

    </div>


    {{!-- Spells Tab --}}
    <div class="tab spells" data-group="primary" data-tab="spells">

      <div class="flexcol">

        <ul class="stat-list alternate-list">
          <li class="item flexrow list-item">
            <span class="item-name-label-header-short">Conduit Regen</span>
            <input type="text" class="item-field-label-short" value="{{system.focus.focusregen}}" data-dtype="Number" disabled/>

            
            <span class="item-name-label-header-short">&nbsp;</span>

            <span class="item-name-label-header-short">Power</span>
            <input type="text" class="item-field-label-short"  name="system.focus.currentfocuspoints" value="{{system.focus.currentfocuspoints}}" data-dtype="Number"/> / 
            <input type="text" class="item-field-label-short" value="{{system.focus.focuspoints}}" data-dtype="Number" disabled/>

            <span class="item-name-label-header-medium">&nbsp;</span>
          </li>
        </ul>
        
        <ul class="stat-list alternate-list">
          <li class="item flexrow list-item items-title-bg">
            <span class="item-name-label-header">
              <h3><label class="items-title-text">Name</label></h3>
            </span>
            <span class="item-field-label-medium">
              <label class="short-label">Type</label>
            </span>
            <span class="item-field-label-medium">
              <label class="short-label">Level</label>
            </span>
          </li>

          {{#each spells as |spell key|}}
          <li class="item stat flexrow list-item list-item-shadow" data-item-id="{{spell._id}}">
            <a class="item-edit item-name-img" title="Edit Item"><img class="sheet-competence-img"
                src="{{spell.img}}" /></a>
            <span class="item-name-label">
              <a class="roll-spell"><i class="fa-solid fa-dice-d12"> </i>{{spell.name}}</a>
            </span>
            <span class="item-field-label-medium">{{upperFirst spell.system.spelltype}}</span>
            <span class="item-field-label-medium">{{upperFirst spell.system.level}}</span>
            <div class="item-filler">&nbsp;</div>
            <div class="item-controls item-controls-fixed">
              <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>  
          </li>
          {{/each}}

        </ul>

      </div>
    </div>

    {{!-- moves Tab --}}
    <div class="tab moves" data-group="primary" data-tab="moves">
      <div class="flexcol">


        {{#if equippedWeapons}}
      <ul class="item-list alternate-list">
        <li class="item flexrow list-item items-title-bg">
          <label class="flex3">Weapon</label>
          <label class="flex1">Attack</label>
          <label class="flex1">Damage</label>
          <label class="flex1">Critical</label>
          <label class="flex1">Brutal</label>
        </li>

      {{#each equippedWeapons as |weapon key|}}
        <li class="item flexrow list-item list-item-shadow" data-item-id="{{weapon._id}}">
          <span class="flex3"><b>{{weapon.name}}</b></span>
          <span class=""><a class="roll-weapon"><i class="fa-solid fa-dice-d12"></i>+{{weapon.attackBonus}}</a></span>
          <span class=""><label><a class="roll-weapon-damage" data-damage="normal"><i class="fa-solid fa-dice-d12"></i>{{weapon.system.damages.primary.normal}}</label></a></span>
          <span class=""><label><a class="roll-weapon-damage" data-damage="critical"><i class="fa-solid fa-dice-d12"></i>{{weapon.system.damages.primary.critical}}</label></a></span>
          <span class=""><label><a class="roll-weapon-damage" data-damage="brutal"><i class="fa-solid fa-dice-d12"></i>{{weapon.system.damages.primary.brutal}}</label></a></span>
        </li>
         
         {{#if weapon.system.damages.secondary.normal}}
         <li class="item flexrow list-item list-item-shadow" data-item-id="{{weapon._id}}">
          <span class="flex3"></span>
          <span class=""></span>
          <span class=""><label><a class="roll-secondary-weapon-damage" data-damage="normal"><i class="fa-solid fa-dice-d12"></i>{{weapon.system.damages.secondary.normal}}</label></a></span>
          <span class=""></span>
          <span class=""></span>
        </li>
        {{/if}}

        {{#if weapon.system.damages.tertiary.normal}}
         <li class="item flexrow list-item list-item-shadow" data-item-id="{{weapon._id}}">
          <span class="flex3"></span>
          <span class=""></span>
          <span class=""><label><a class="roll-tertiary-weapon-damage" data-damage="normal"><i class="fa-solid fa-dice-d12"></i>{{weapon.system.damages.tertiary.normal}}</label></a></span>
          <span class=""></span>
          <span class=""></span>
        </li>
        {{/if}}

        {{/each}}


      </ul>
      {{/if}}

       
        <!--Actions Section-->
         {{#if actions}}
        <ul class="item-list alternate-list">
          <li class="item flexrow list-item items-title-bg">
            <span>
              <label class="item-label-title">Actions</label>
            </span>
            <span>
              <label class="item-label-title">Description</label>
            </span>
          </li>

            {{#each actions as |action key|}}
          <li class="item flexrow list-item list-item-shadow" data-item-id="{{action._id}}">
            <!--<a class="item-edit item-name-img" title="Edit Item"><img class="sheet-competence-img"src="{{action.img}}" /></a>-->
            <span class="flex1"><a class="roll-weapon"><b>{{action.name}}</b></a></span>
            <span class="flex2"><a class="roll-weapon">{{action.system.description}}</a></span>
          
          </li>
        {{/each}}
        </ul>
        {{/if}}


                <!--ReActions Section-->
         {{#if freeactions}}
        <ul class="item-list alternate-list">
          <li class="item flexrow list-item items-title-bg">
            <span>
              <label class="item-label-title">Reactions</label>
            </span>
            <span>
              <label class="item-label-title">Description</label>
            </span>
          </li>

            {{#each freeactions as |action key|}}
          <li class="item flexrow list-item list-item-shadow" data-item-id="{{action._id}}">
            <!--<a class="item-edit item-name-img" title="Edit Item"><img class="sheet-competence-img"src="{{action.img}}" /></a>-->
            <span class="flex1"><a class="roll-weapon"><b>{{action.name}}</b></a></span>
            <span class="flex2"><a class="roll-weapon">{{action.system.description}}</a></span>
          </li>
        {{/each}}
        </ul>
        {{/if}}

               <!--ReActions Section-->
         {{#if reactions}}
        <ul class="item-list alternate-list">
          <li class="item flexrow list-item items-title-bg">
            <span>
              <label class="item-label-title">Reactions</label>
            </span>
            <span>
              <label class="item-label-title">Description</label>
            </span>
          </li>

            {{#each reactions as |action key|}}
          <li class="item flexrow list-item list-item-shadow" data-item-id="{{action._id}}">
            <!--<a class="item-edit item-name-img" title="Edit Item"><img class="sheet-competence-img"src="{{action.img}}" /></a>-->
            <span class="flex1"><a class="roll-weapon"><b>{{action.name}}</b></a></span>
            <span class="flex2"><a class="roll-weapon">{{action.system.description}}</a></span>
          </li>
        {{/each}}
        </ul>
        {{/if}}


      


      <!--
        <ul class="stat-list alternate-list">
          <li class="item flexrow list-item items-title-bg">
            <span class="item-name-label-header">
              <h3><label class="items-title-text">Name</label></h3>
            </span>
            <span class="item-field-label-medium">
              <label class="short-label">Type</label>
            </span>
            <span class="item-field-label-medium">
              <label class="short-label">Level</label>
            </span>
          </li>
        </ul>
          -->

      </div>
    </div>

    {{!-- traits Tab --}}
    <div class="tab traits" data-group="primary" data-tab="traits">

      <div class="flexcol">

        <ul class="stat-list alternate-list">
          <li class="item flexrow list-item items-title-bg">
            <span class="flex1">
              <h3><label class="items-title-text">Name</label></h3>
            </span>
            <span class="flex3">
              <label class="items-title-text">Description</label>
            </span>
      
          </li>

          {{#each traits as |trait key|}}
          <li class="item stat flexrow list-item list-item-shadow" data-item-id="{{trait._id}}">
            <a class="item-edit item-name-img" title="Edit Item"><img class="sheet-competence-img"src="{{trait.img}}" /></a>
            <span class="item-name-label">
              <a class="spell-roll">{{trait.name}}</a>
            </span>
            <span class="flex3">{{upperFirst trait.system.description}}</span>
            <!--
            <div class="item-controls item-controls-fixed">
              <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>
            -->  
          </li>
          {{/each}}

        </ul>

      </div>
    </div>

    {{!-- Equipement Tab --}}
    <div class="tab equipment" data-group="primary" data-tab="equipment">

      <div class="flexrow">
        <h3>Encumbrance</h3>
        <span class="small-label">Current : {{encCurrent}}</span>
        <span class="small-label">Capacity : {{encCapacity}}</span>
      </div>

      <ul class="item-list alternate-list">
        <li class="item flexrow list-item items-title-bg">
          <span class="item-name-label-header">
            <h3><label class="items-title-text">Money</label></h3>
          </span>
          <span class="item-field-label-long">
            <label class="short-label">Qty</label>
          </span>
          <span class="item-field-label-medium">
            <label class="short-label">Weight</label>
          </span>
          <span class="item-field-label-medium">
            <label class="short-label">IDR</label>
          </span>
          <div class="item-filler">&nbsp;</div>
          <div class="item-controls item-controls-fixed">
            <a class="item-control item-add" data-type="money" title="Create Item"><i class="fas fa-plus"></i></a>
          </div>
        </li>
        {{#each moneys as |money key|}}
        <li class="item flexrow list-item list-item-shadow" data-item-id="{{money._id}}">
          <a class="item-edit item-name-img" title="Edit Item"><img class="sheet-competence-img"
              src="{{money.img}}" /></a>
          <span class="item-name-label">{{money.name}}</span>

          <span class="item-field-label-long"><label>
              {{money.system.quantity}}
              (<a class="quantity-minus plus-minus-button"> -</a>/<a class="quantity-plus plus-minus-button">+</a>)
            </label>
          </span>
          <span class="item-field-label-medium">
            <label>{{money.system.weight}}</label>
          </span>
          <span class="item-field-label-medium">
            {{#if money.system.idrDice}}
            <a class="roll-idr" data-dice-value="{{money.data.idrDice}}">{{money.system.idrDice}}</a>
            {{else}}
            &nbsp;-&nbsp;
            {{/if}}
          </span>

          <div class="item-filler">&nbsp;</div>
          <div class="item-controls item-controls-fixed">
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
          </div>
        </li>
        {{/each}}
      </ul>

      <ul class="item-list alternate-list">
        <li class="item flexrow list-item items-title-bg">
          <span class="item-name-label-header">
            <h3><label class="items-title-text">Weapons</label></h3>
          </span>
          <span class="item-field-label-short">
            <label class="short-label">Attack</label>
          </span>
          <span class="item-field-label-short">
            <label class="short-label">Damage</label>
          </span>
          <div class="item-controls item-controls-fixed">
            <a class="item-control item-add" data-type="weapon" title="Create Item"><i class="fas fa-plus"></i></a>
          </div>
        </li>
        {{#each weapons as |weapon key|}}
        <li class="item flexrow list-item list-item-shadow" data-item-id="{{weapon._id}}">
          <a class="item-edit item-name-img" title="Edit Item"><img class="sheet-competence-img"
              src="{{weapon.img}}" /></a>
          <span class="item-name-label">{{weapon.name}}</span>
          <span class="item-field-label-short"><label>{{upperFirst weapon.system.ability}}</label></span>
          <span class="item-field-label-short"><label>{{upperFirst weapon.system.damage}}</label></span>

          <div class="item-filler">&nbsp;</div>
          <div class="item-controls item-controls-fixed">
            <a class="item-control item-equip" title="Worn">{{#if weapon.system.equipped}}<i
                class="fas fa-circle"></i>{{else}}<i class="fas fa-genderless"></i>{{/if}}</a>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
          </div>
        </li>
        {{/each}}
      </ul>

      <ul class="item-list alternate-list">
        <li class="item flexrow list-item items-title-bg">
          <span class="item-name-label-header">
            <h3><label class="items-title-text">Armors</label></h3>
          </span>
          <span class="item-field-label-short">
            <label class="short-label">Type</label>
          </span>
          <span class="item-field-label-short">
            <label class="short-label">Absorption</label>
          </span>

          <div class="item-filler">&nbsp;</div>
          <div class="item-controls item-controls-fixed">
            <a class="item-control item-add" data-type="armor" title="Create Item"><i class="fas fa-plus"></i></a>
          </div>
        </li>
        {{#each armors as |armor key|}}
        <li class="item list-item flexrow list-item-shadow" data-item-id="{{armor._id}}">
          <a class="item-edit item-name-img" title="Edit Item"><img class="sheet-competence-img"
              src="{{armor.img}}" /></a>
          <span class="item-name-label">{{armor.name}}</span>
          <span class="item-field-label-short">{{upperFirst armor.system.armortype}}</span>
          <span class="item-field-label-short">{{armor.system.absorprionroll}}</span>

          <div class="item-filler">&nbsp;</div>
          <div class="item-controls item-controls-fixed">
            <a class="item-control item-equip" title="Worn">{{#if armor.system.equipped}}<i
                class="fas fa-circle"></i>{{else}}<i class="fas fa-genderless"></i>{{/if}}</a>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
          </div>
        </li>
        {{/each}}
      </ul>

      <ul class="item-list alternate-list">
        <li class="item flexrow list-item items-title-bg">
          <span class="item-name-label-header">
            <h3><label class="items-title-text">Shields</label></h3>
          </span>
          <span class="item-field-label-short">
            <label class="short-label">Dice</label>
          </span>
          <div class="item-filler">&nbsp;</div>
          <div class="item-controls item-controls-fixed">
            <a class="item-control item-add" data-type="shield" title="Create Item"><i class="fas fa-plus"></i></a>
          </div>
        </li>
        {{#each shields as |shield key|}}
        <li class="item flexrow list-item list-item-shadow" data-item-id="{{shield._id}}">
          <a class="item-edit item-name-img" title="Edit Item"><img class="sheet-competence-img"
              src="{{shield.img}}" /></a>
          <span class="item-name-label">{{shield.name}}</span>
          <span class="item-field-label-short">{{shield.system.levelDice}}</span>

          <div class="item-filler">&nbsp;</div>
          <div class="item-controls item-controls-fixed">
            <a class="item-control item-equip" title="Worn">{{#if shield.system.equipped}}<i
                class="fas fa-circle"></i>{{else}}<i class="fas fa-genderless"></i>{{/if}}</a>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
          </div>
        </li>
        {{/each}}
      </ul>

      <ul class="item-list alternate-list">
        <li class="item flexrow list-item items-title-bg">
          <span class="item-name-label-header">
            <h3><label class="items-title-text">Equipment</label></h3>
          </span>
          <span class="item-field-label-long">
            <label class="short-label">Qty</label>
          </span>
          <div class="item-filler">&nbsp;</div>
          <div class="item-controls item-controls-fixed">
            <a class="item-control item-add" data-type="equipment" title="Create Item"><i class="fas fa-plus"></i></a>
          </div>

        </li>
        {{#each equipments as |equip key|}}
        <li class="item list-item flexrow list-item-shadow" data-item-id="{{equip._id}}">
          <a class="item-edit item-name-img" title="Edit Item"><img class="sheet-competence-img"
              src="{{equip.img}}" /></a>
          <span class="item-name-label">{{equip.name}}</span>

          <span class="item-field-label-long"><label>
              {{equip.system.quantity}}
              (<a class="quantity-minus plus-minus-button"> -</a>/<a class="quantity-plus plus-minus-button">+</a>)
            </label>
          </span>

          <div class="item-filler">&nbsp;</div>
          <div class="item-controls item-controls-fixed">
            <a class="item-control item-equip" title="Worn">{{#if equip.system.equipped}}<i
                class="fas fa-circle"></i>{{else}}<i class="fas fa-genderless"></i>{{/if}}</a>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
          </div>
        </li>
        {{/each}}
      </ul>

      <hr>

    </div>

    {{!-- Equipement Tab --}}
    <div class="tab crafting" data-group="primary" data-tab="crafting">


      <ul class="item-list alternate-list">
        <li class="item flexrow list-item items-title-bg">
          <span class="item-name-label-header">
            <h3><label class="items-title-text">Crafting</label></h3>
          </span>
          <span class="item-field-label-short">
            <label class="short-label">Level</label>
          </span>
          <div class="item-controls item-controls-fixed">
            <a class="item-control item-add" data-type="weapon" title="Create Item"><i class="fas fa-plus"></i></a>
          </div>
        </li>
        {{#each craftingSkills as |crafting key|}}
        <li class="item flexrow list-item list-item-shadow" data-item-id="{{crafting._id}}">
          <a class="item-edit item-name-img" title="Edit Item"><img class="sheet-competence-img"
              src="{{crafting.img}}" /></a>
          <span class="item-name-label"> <a class="roll-crafting"><i class="fa-solid fa-dice-d12"> </i>{{crafting.name}}</a></span>
          <span class="item-field-label-short"><label>{{crafting.system.level}}</label></span>

          <div class="item-filler">&nbsp;</div>
          <div class="item-controls item-controls-fixed">
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
          </div>
        </li>
        {{/each}}
      </ul>

    </div>

    {{!-- Biography Tab --}}
    <div class="tab biodata" data-group="primary" data-tab="biodata">
      <div class="grid grid-2col">
        <div>
          <ul class="item-list alternate-list">
            <li class="item flexrow">
              <label class="generic-label">Origin</label>
              <input type="text" class="" name="system.biodata.origin" value="{{data.biodata.origin}}"
                data-dtype="String" />
            </li>
            <li class="item flexrow">
              <label class="generic-label">Age</label>
              <input type="text" class="" name="system.biodata.age" value="{{data.biodata.age}}" data-dtype="String" />
            </li>
            <li class="item flexrow">
              <label class="generic-label">Height</label>
              <input type="text" class="" name="system.biodata.height" value="{{data.biodata.height}}" data-dtype="String" />
            </li>
            <li class="item flexrow">
              <label class="generic-label">Eyes</label>
              <input type="text" class="" name="system.biodata.eyes" value="{{data.biodata.eyes}}" data-dtype="String" />
            </li>
            <li class="item flexrow">
              <label class="generic-label">Hair</label>
              <input type="text" class="" name="system.biodata.hair" value="{{data.biodata.hair}}" data-dtype="String" />
            </li>
          </ul>
        </div>
       <div>
          <ul>
            <li class="flexrow item">
              <label class="generic-label">Size</label>
              <select class="competence-base flexrow" type="text" name="system.biodata.size" value="{{data.biodata.size}}" data-dtype="Number">
                {{#select data.biodata.size}}
                <option value="1">Tiny</option>
                <option value="2">Small</option>
                <option value="3">Medium</option>
                <option value="4">Large</option>
                <option value="5">Huge</option>
                <option value="6">Gargantuan</option>
                {{/select}}
              </select> 
            </li>
            <li class="flexrow item">
              <label class="generic-label">Sex</label>
              <input type="text" class="" name="system.biodata.sex" value="{{data.biodata.sex}}" data-dtype="String" />
            </li>
            <li class="flexrow item">
              <label class="generic-label">Preferred Hand</label>
              <input type="text" class="" name="system.biodata.preferredhand" value="{{data.biodata.preferredhand}}"
                data-dtype="String" />
            </li>
            <li class="flexrow item" data-item-id="{{race._id}}">
              <label class="generic-label">Race</label>
              <a class="item-edit"><img class="stat-icon" src="{{race.img}}"></a>
              <input type="text" class="" name="system.biodata.racename" value="{{data.biodata.racename}}" data-dtype="String" />
            </li>
          </ul>
        </div>
      </div>


      <hr>
      <h3>Background : </h3>
      <div class="form-group editor">
        {{editor data.biodata.description target="system.biodata.description" button=true owner=owner
        editable=editable}}
      </div>
      <hr>
      <h3>Notes : </h3>
      <div class="form-group editor">
        {{editor data.biodata.notes target="system.biodata.notes" button=true owner=owner editable=editable}}
      </div>
      <hr>
      </article>
    </div>

  </section>
</form>