 {{#if character}}
  <div class="grid-2col">
      <ul class="stat-list alternate-list">
            <li class="item flexrow list-item items-title-bg">
              <span class="item-name-label-header-long">
                <h3><label class="items-title-text">Skills</label></h3>
              </span>
            </li>
             <div class="flexcol">
             <span class="small-skill flexrow odd-row">
              <section class="skill-title flex2 " >Smithing:</section>
              <section class="skill-value flex1">{{#if (gt system.bonus.craft.smithing -1)}}+{{/if}}{{system.bonus.craft.smithing}}</section>
              <img class=" roll-craft ui-dice flex0 flex-center" width="24px" height="24px" src="systems/fvtt-avd12/images/ui/D12_White.webp" data-skill-key="smithing"/>
               <section class="skill-title flex1" ></section>
            </span>
            <span class="small-skill flexrow ">
              <section class="skill-title flex2" >Cooking:</section>
              <section class="skill-value flex1">{{#if (gt system.bonus.craft.cooking -1)}}+{{/if}}{{system.bonus.craft.cooking}}</section>
              <img class=" roll-craft ui-dice flex0 flex-center" width="24px" height="24px" src="systems/fvtt-avd12/images/ui/D12_White.webp" data-skill-key="cooking"/>
               <section class="skill-title flex1" ></section>
            </span>
            <span class="small-skill flexrow odd-row">
              <section class="skill-title flex2" >Scribing:</section>
              <section class="skill-value flex1">{{#if (gt system.bonus.craft.scribing -1)}}+{{/if}}{{system.bonus.craft.scribing}}</section>
              <img class=" roll-craft ui-dice flex0 flex-center" width="24px" height="24px" src="systems/fvtt-avd12/images/ui/D12_White.webp" data-skill-key="scribing"/>
               <section class="skill-title flex1" ></section>
            </span>
            <span class="small-skill flexrow ">
              <section class="skill-title flex2" >Runecarving:</section>
              <section class="skill-value flex1">{{#if (gt system.bonus.craft.runecarving -1)}}+{{/if}}{{system.bonus.craft.runecarving}}</section>
              <img class=" roll-craft ui-dice flex0 flex-center" width="24px" height="24px" src="systems/fvtt-avd12/images/ui/D12_White.webp" data-skill-key="runecarving"/>
               <section class="skill-title flex1" ></section>
            </span>
            <span class="small-skill flexrow odd-row">
              <section class="skill-title flex2" >Ammocraft:</section>
              <section class="skill-value flex1">{{#if (gt system.bonus.craft.ammocraft -1)}}+{{/if}}{{system.bonus.craft.ammocraft}}</section>
              <img class=" roll-craft ui-dice flex0 flex-center" width="24px" height="24px" src="systems/fvtt-avd12/images/ui/D12_White.webp" data-skill-key="ammocraft"/>
               <section class="skill-title flex1" ></section>
            </span>
             <span class="small-skill flexrow ">
              <section class="skill-title flex2" >Alchemy:</section>
              <section class="skill-value flex1">{{#if (gt system.bonus.craft.alchemy -1)}}+{{/if}}{{system.bonus.craft.alchemy}}</section>
              <img class=" roll-craft ui-dice flex0 flex-center" width="24px" height="24px" src="systems/fvtt-avd12/images/ui/D12_White.webp" data-skill-key="alchemy" />
               <section class="skill-title flex1" ></section>
            </span>
            <span class="small-skill flexrow odd-row">
              <section class="skill-title flex2" >Engineering:</section>
              <section class="skill-value flex1">{{#if (gt system.bonus.craft.engineering -1)}}+{{/if}}{{system.bonus.craft.engineering}}</section>
              <img class=" roll-craft ui-dice flex0 flex-center" width="24px" height="24px" src="systems/fvtt-avd12/images/ui/D12_White.webp" data-skill-key="engineering" />
               <section class="skill-title flex1" ></section>
            </span>
   
      </ul>

      <ul class="stat-list alternate-list">
          <li class="item flexrow list-item items-title-bg">
            <span class="flex1">
              <h3><label class="items-title-text">Name</label></h3>
            </span>
            <span class="flex3 flex-center">
              <label class="items-title-text">Description</label>
            </span>
          </li>
          {{#each craftingTraits as |trait key|}}
          <li class="item stat flexrow list-item list-item-shadow" data-item-id="{{trait._id}}">
            <!--<a class="item-edit item-name-img" title="Edit Item"><img class="sheet-competence-img"src="{{trait.img}}" /></a>-->
            <span class="item-name-label flex1">
              <a class="spell-roll">{{trait.name}}</a>
            </span>
          <span class="flex3">{{{upperFirst trait.system.description}}}</span>
            <div class="item-controls item-controls-fixed">
              <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>
          </li>
          {{/each}}
        </ul>

      </div>
{{/if}}