<ul class="item-list alternate-list">
     {{#if character}}
      <li class="item flexrow list-item items-title-bg"> 
        <span class="flex0" style="min-width:1rem;max-width:1rem;"></span>
        <span class="flex1">
           <h3 class="text-center"><label class="items-title-text">Actions</label></h3>
        </span>
            <span class="flex-100-fixed  flex-center" style="padding-top:5px;">
          <label class="items-title-text">Uses</label>
                </span>
         
          <span class="flex3 flex-center" style="padding-top:5px;">
            <label class="items-title-text">Description</label>
          </span>
      </li>
{{#each actions as |action key|}}
  <li class="item flexrow list-item list-item-shadow" data-use-id="{{action.system.avd12_id}}" data-item-id="{{action._id}}">
    <a class="item-edit item-name-img" title="Edit Item">
      <img class="sheet-competence-img" src="{{action.img}}" />
    </a>
    <a class="flex1 big-label use-action avd12-use-ability side-border">
      <p>{{action.name}}</p>
    </a>
      
    <a class="flex-100-fixed big-label flex-center side-border">
      {{#each (range 1 action.system.uses.max) as |useIndex|}}
        <i 
           style="padding-left:5px; padding-right:5px; 
                  {{#if action.system.daily}}color: gold;{{/if}}"
           class="fa{{#if (gte action.system.uses.current useIndex)}}-solid{{else}}-regular{{/if}} fa-circle">
        </i>
      {{/each}}
    </a>
    
    <span class="flex3 item-description side-border">{{{action.system.description}}}</span>
    <div class="item-controls item-controls-fixed">
      <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
    </div>
  </li>
{{/each}}

    {{else}}
  <li class="item flexrow list-item items-title-bg">
      <span class="create-item flex-center" title="Edit Item" style="margin-left:4px;">
             <a class="item-control item-add" data-type="action" title="Create Item"><i class="fas fa-plus"></i></a>
        </span>
        
        <span class="flex1">
            <h3 class="text-center"><label class="items-title-text">Actions</label></h3>
        </span>
          <span class="flex3 flex-center" style="padding-top:5px;">
            <label class="items-title-text">Description</label>
          </span>
      <div class="item-controls item-controls-fixed">
         
        </div>
      </li>
      {{#each actions as |action key|}}
      <li class="item flexrow list-item list-item-shadow"  data-item-id="{{action._id}}">
        <a class="item-edit item-name-img" title="Edit Item"><img class="sheet-competence-img"
            src="{{action.img}}" /></a>
        <a class="flex1 use-action avd12-use-ability big-label side-border"><p>{{action.name}}</p></a>
        <span class="flex3 item-description side-border">{{{action.system.description}}}</span>
        <div class="item-controls">
          <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
        </div>
      </li>
      {{/each}}
      {{/if}}
    </ul>
      <ul class="item-list alternate-list">
        {{#if character}}
        <li class="item flexrow list-item items-title-bg">
          <a class="item-edit item-name-img" title="Edit Item"></a>
          <span class="flex1">
              <h3 class="text-center"><label class="items-title-text">Reactions</label></h3>
          </span>
          
            <span class="flex1 flex-center" style="padding-top:5px;">
              <label class="items-title-text">Uses</label>
            </span>
              <span class="flex3 flex-center" style="padding-top:5px;">
              <label class="items-title-text">Description</label>
              </span>
          <div class="item-controls item-controls-fixed">
            <a class="item-control item-add" data-type="reaction" title="Create Item"><i class="fas fa-plus"></i></a>
          </div>
        {{#each reactions as |action key|}}
          <li class="item flexrow list-item list-item-shadow" data-use-id="{{action.system.avd12_id}}" data-item-id="{{action._id}}">
            <a class="item-edit item-name-img" title="Edit Item">
              <img class="sheet-competence-img" src="{{action.img}}" />
            </a>
            <a class="flex1 big-label use-action avd12-use-ability side-border">
              <p>{{action.name}}</p>
            </a>
              
            <a class="flex-100-fixed big-label flex-center side-border">
              {{#each (range 1 action.system.uses.max) as |useIndex|}}
                <i 
                  style="padding-left:5px; padding-right:5px; 
                          {{#if action.system.daily}}color: gold;{{/if}}"
                  class="fa{{#if (gte action.system.uses.current useIndex)}}-solid{{else}}-regular{{/if}} fa-circle">
                </i>
              {{/each}}
            </a>
            
            <span class="flex3 item-description side-border">{{{action.system.description}}}</span>
            <div class="item-controls item-controls-fixed">
              <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>
          </li>
        {{/each}}

        {{else}}

        <li class="item flexrow list-item items-title-bg">
          <a class="item-edit item-name-img" title="Edit Item"></a>
          <span class="flex1">
              <h3 class="text-center"><label class="items-title-text">Reactions</label></h3>
          </span>
              <span class="flex3 flex-center" style="padding-top:5px;">
              <label class="items-title-text">Description</label>
              </span>
          <div class="item-controls item-controls-fixed">
            <a class="item-control item-add" data-type="reaction" title="Create Item"><i class="fas fa-plus"></i></a>
          </div>
        </li>
        {{#each reactions as |action key|}}
        <li class="item flexrow list-item list-item-shadow" data-item-id="{{action._id}}">
          <a class="item-edit item-name-img" title="Edit Item"><img class="sheet-competence-img"
              src="{{action.img}}" /></a>
          <a class="flex1 big-label use-action avd12-use-ability side-border"><p>{{action.name}}</p></a>
          <span class="flex3 item-description side-border" >{{{action.system.description}}}</span>
          <div class="item-controls item-controls-fixed">
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
          </div>
        </li>
        {{/each}}
        {{/if}}
      </ul>
        <!-- BALLADS -->
        {{#if (and ballads character)}}
        <ul class="item-list alternate-list">
        <li class="item flexrow list-item items-title-bg">
          <a class="item-edit item-name-img" title="Edit Item"></a>
          <span class="flex1">
             <h3 class="text-center"><label class="items-title-text">Ballads</label></h3>
          </span>
            <span class="flex3 flex-center" style="padding-top:5px;">
            <label class="items-title-text ">Description</label>
          </span>
          <div class="item-controls item-controls-fixed">
            <a class="item-control item-add" data-type="ballad" title="Create Item"><i class="fas fa-plus"></i></a>
          </div>
        </li>
        {{#each ballads as |ballad key|}}
        <li class="item flexrow list-item list-item-shadow {{#if ballad.system.active}}active-ability {{/if}}"  data-item-id="{{ballad._id}}">
          <a class="item-edit item-name-img" title="Edit Item"><img class="sheet-competence-img"
              src="{{ballad.img}}" /></a>
          <a class="flex1 big-label use-action avd12-use-ability side-border change-ballad"><p>{{ballad.name}}</p></a>
          <span class="flex3 item-description side-border">{{{ballad.system.description}}}</span>
          <div class="item-controls item-controls-fixed">
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
          </div>
        </li>
        {{/each}}
      </ul>
        {{/if}}

      <ul class="item-list alternate-list">
        <li class="item flexrow list-item items-title-bg">
          <a class="item-edit item-name-img" title="Edit Item"></a>
          <span class="flex1">
             <h3 class="text-center"><label class="items-title-text">Free Actions</label></h3>
          </span>
          <span class="flex3 flex-center" style="padding-top:5px;">
            <label class="items-title-text">Description</label>
          </span>
          <div class="item-controls item-controls-fixed">
            <a class="item-control item-add" data-type="freeaction" title="Create Item"><i class="fas fa-plus"></i></a>
          </div>
        </li>
        {{#each freeactions as |action key|}}
        <li class="item flexrow list-item list-item-shadow" data-use-id="{{action.system.avd12_id}}" data-item-id="{{action._id}}">
          <a class="item-edit item-name-img" title="Edit Item"><img class="sheet-competence-img"
              src="{{action.img}}" /></a>
          <a class="flex1 big-label use-action avd12-use-ability side-border"><p>{{action.name}}</p></a>
          <span class="flex3 item-description side-border">{{{action.system.description}}}</span>
          <div class="item-controls item-controls-fixed">
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
 
          </div>
        </li>
        {{/each}}
      </ul>
    {{#if character}}
      <ul class="stat-list alternate-list">
        <li class="item flexrow list-item items-title-bg">
          
          <a class="item-edit item-name-img" title="Edit Item"></a>
          
          <span class="flex1">
            <h3 class="text-center"><label class="items-title-text">Stances</label></h3>
          </span>
          
          <span class="flex3 flex-center" style="padding-top:5px;">
            <label class="items-title-text">Description</label>
          </span>
            
            <div class="item-controls item-controls-fixed">
              <a class="item-control item-add" data-type="ballad" title="Create Item"><i class="fas fa-plus"></i></a>
          </div>
        </li>
          {{#each stances as |stance key|}}
        <li class="item stat flexrow list-item list-item-shadow spell-card {{#if stance.system.active}}active-ability {{/if}}" data-item-id="{{stance._id}}">
          <a class="item-edit item-name-img" title="Edit Item"><img class="sheet-competence-img"src="{{stance.img}}" /></a>
          
          <span class="text-center side-border avd12-use-ability">
            <a class="change-stance "><p>{{stance.name}}</p></a>
          </span>
          
          <span class="flex3 side-border">{{{upperFirst stance.system.description}}}</span>
          
          <div class="item-controls item-controls-fixed">
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
          </div>
          
        </li>
        {{/each}}
      </ul> 
    {{else}}
    
        <ul class="stat-list alternate-list">
          <li class="item flexrow list-item items-title-bg">
            <a class="item-edit item-name-img" title="Edit Item"></a>
            <span class="flex1">
              <h3 class="text-center"><label class="items-title-text">Traits</label></h3>
            </span>
            <span class="flex3 flex-center" style="padding-top:5px;">
              <label class="items-title-text">Description</label>
            </span>
            <div class="item-controls item-controls-fixed">
              <a class="item-control item-add" data-type="trait" title="Create Item"><i class="fas fa-plus"></i></a>
            </div>
          </li>
          {{#each traits as |trait key|}}
          <li class="item stat flexrow list-item list-item-shadow" data-item-id="{{trait._id}}">
            <a class="item-edit item-name-img" title="Edit Item">
              <img class="sheet-competence-img"src="{{trait.img}}" />
            </a>
            <span class="text-center"><p>{{trait.name}}</p></span>
            <span class="flex3">{{{upperFirst trait.system.description}}}</span>
            <div class="item-controls item-controls-fixed">
              <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>
          </li>
          {{/each}}
        </ul>
    
    {{/if}}


    