<div class="flexcol">
        {{#if beginnerSpells}}
        <ul class="stat-list alternate-list">
          <li class="item flexrow list-item items-title-bg">
            <span class="item-name-label-header">
              <h3><label class="items-title-text">Beginner Spells</label></h3>
            </span>
            <span class="item-field-label-medium flex-center">
              <label class="short-label">Type</label>
            </span>
            <span class="item-field-label-medium flex-center">
              <label class="short-label">Range</label>
            </span>
            <span class="item-field-label-medium flex-center">
              <label class="short-label">Cost</label>
            </span>
            <span class="item-field-label-medium flex-center">
              <label class="short-label">Damage</label>
            </span>
            <span class="item-field-label-extra-short flex-center">
              <label class="short-label">Focus</label>
            </span>
            <span class="item-field-label-extra-short flex-center">
              <label class="short-label">Reaction</label>
            </span>
            <span class="item-field-label-extra-short flex-center">
              <label class="short-label">Components</label>
            </span>
            <span class="item-filler">&nbsp;</span>
          </li>
          {{#each beginnerSpells as |spell key|}}
          <li class="item stat flexrow list-item list-item-shadow spell-card" data-item-id="{{spell._id}}">
            <a class="item-edit item-name-img" title="Edit Item"><img class="sheet-competence-img"src="{{spell.img}}" /></a>
            <span class="item-name-label"><a class="roll-spell"></i>{{spell.name}}</a></span>
            <span class="item-field-label-medium flex-center">{{upperFirst spell.system.spelltype}}</span>
             <span class="item-field-label-medium flex-center">{{upperFirst spell.system.rangeDescription}}</span>
            <span class="item-field-label-medium flex-center">{{upperFirst spell.system.actionDescription}}</span>
            <a class="item-field-label-medium flex-center roll-spell-damage">{{upperFirst spell.system.damageDescription}}</a>
            <span class="item-field-label-extra-short flex-center">{{#if spell.system.sustained}}<i class="fas fa-circle"></i>{{/if}}</span>
            <span class="item-field-label-extra-short flex-center">{{#if spell.system.reaction}}<i class="fas fa-circle"></i>{{/if}}</span>
            <span class="item-field-label-extra-short flex-center">{{#if spell.system.components}}<i class="fas fa-circle"></i>{{/if}}</span>
            <span class="item-filler">&nbsp;</span>
            <div class="item-controls item-controls-fixed">
              <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>  
          </li>
          {{/each}}
        </ul>
        {{/if}}

        
{{#if noviceSpells}}
        <ul class="stat-list alternate-list">
          <li class="item flexrow list-item items-title-bg">
            <span class="item-name-label-header">
              <h3><label class="items-title-text">Novice Spells</label></h3>
            </span>
            <span class="item-field-label-medium flex-center">
              <label class="short-label">Type</label>
            </span>
            <span class="item-field-label-medium flex-center">
              <label class="short-label">Range</label>
            </span>
            <span class="item-field-label-medium flex-center">
              <label class="short-label">Cost</label>
            </span>
            <span class="item-field-label-medium flex-center">
              <label class="short-label">Damage</label>
            </span>
            <span class="item-field-label-extra-short flex-center">
              <label class="short-label">Focus</label>
            </span>
            <span class="item-field-label-extra-short flex-center">
              <label class="short-label">Reaction</label>
            </span>
            <span class="item-field-label-extra-short flex-center">
              <label class="short-label">Components</label>
            </span>
            <span class="item-filler">&nbsp;</span>
          </li>
          {{#each noviceSpells as |spell key|}}
          <li class="item stat flexrow list-item list-item-shadow spell-card" data-item-id="{{spell._id}}">
            <a class="item-edit item-name-img" title="Edit Item"><img class="sheet-competence-img"src="{{spell.img}}" /></a>
            <span class="item-name-label"><a class="roll-spell"></i>{{spell.name}}</a></span>
            <span class="item-field-label-medium flex-center">{{upperFirst spell.system.spelltype}}</span>
             <span class="item-field-label-medium flex-center">{{upperFirst spell.system.rangeDescription}}</span>
            <span class="item-field-label-medium flex-center">{{upperFirst spell.system.actionDescription}}</span>
            <a class="item-field-label-medium flex-center roll-spell-damage">{{upperFirst spell.system.damageDescription}}</a>
            <span class="item-field-label-extra-short flex-center">{{#if spell.system.sustained}}<i class="fas fa-circle"></i>{{/if}}</span>
            <span class="item-field-label-extra-short flex-center">{{#if spell.system.reaction}}<i class="fas fa-circle"></i>{{/if}}</span>
            <span class="item-field-label-extra-short flex-center">{{#if spell.system.components}}<i class="fas fa-circle"></i>{{/if}}</span>
            <span class="item-filler">&nbsp;</span>
            <div class="item-controls item-controls-fixed">
              <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>  
          </li>
          {{/each}}
        </ul>
        {{/if}}


        {{#if expertSpells}}
        <ul class="stat-list alternate-list">
          <li class="item flexrow list-item items-title-bg">
            <span class="item-name-label-header">
              <h3><label class="items-title-text">Expert Spells</label></h3>
            </span>
            <span class="item-field-label-medium flex-center">
              <label class="short-label">Type</label>
            </span>
            <span class="item-field-label-medium flex-center">
              <label class="short-label">Range</label>
            </span>
            <span class="item-field-label-medium flex-center">
              <label class="short-label">Cost</label>
            </span>
            <span class="item-field-label-medium flex-center">
              <label class="short-label">Damage</label>
            </span>
            <span class="item-field-label-extra-short flex-center">
              <label class="short-label">Focus</label>
            </span>
            <span class="item-field-label-extra-short flex-center">
              <label class="short-label">Reaction</label>
            </span>
            <span class="item-field-label-extra-short flex-center">
              <label class="short-label">Components</label>
            </span>
            <span class="item-filler">&nbsp;</span>
          </li>
          {{#each expertSpells as |spell key|}}
          <li class="item stat flexrow list-item list-item-shadow spell-card" data-item-id="{{spell._id}}">
            <a class="item-edit item-name-img" title="Edit Item"><img class="sheet-competence-img"src="{{spell.img}}" /></a>
            <span class="item-name-label"><a class="roll-spell"></i>{{spell.name}}</a></span>
            <span class="item-field-label-medium flex-center">{{upperFirst spell.system.spelltype}}</span>
             <span class="item-field-label-medium flex-center">{{upperFirst spell.system.rangeDescription}}</span>
            <span class="item-field-label-medium flex-center">{{upperFirst spell.system.actionDescription}}</span>
            <a class="item-field-label-medium flex-center roll-spell-damage">{{upperFirst spell.system.damageDescription}}</a>
            <span class="item-field-label-extra-short flex-center">{{#if spell.system.sustained}}<i class="fas fa-circle"></i>{{/if}}</span>
            <span class="item-field-label-extra-short flex-center">{{#if spell.system.reaction}}<i class="fas fa-circle"></i>{{/if}}</span>
            <span class="item-field-label-extra-short flex-center">{{#if spell.system.components}}<i class="fas fa-circle"></i>{{/if}}</span>
            <span class="item-filler">&nbsp;</span>
            <div class="item-controls item-controls-fixed">
              <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>  
          </li>
          {{/each}}
        </ul>
        {{/if}}


        {{#if masterSpells}}
        <ul class="stat-list alternate-list">
          <li class="item flexrow list-item items-title-bg">
            <span class="item-name-label-header">
              <h3><label class="items-title-text">Master Spells</label></h3>
            </span>
            <span class="item-field-label-medium flex-center">
              <label class="short-label">Type</label>
            </span>
            <span class="item-field-label-medium flex-center">
              <label class="short-label">Range</label>
            </span>
            <span class="item-field-label-medium flex-center">
              <label class="short-label">Cost</label>
            </span>
            <span class="item-field-label-medium flex-center">
              <label class="short-label">Damage</label>
            </span>
            <span class="item-field-label-extra-short flex-center">
              <label class="short-label">Focus</label>
            </span>
            <span class="item-field-label-extra-short flex-center">
              <label class="short-label">Reaction</label>
            </span>
            <span class="item-field-label-extra-short flex-center">
              <label class="short-label">Components</label>
            </span>
            <span class="item-filler">&nbsp;</span>
          </li>
          {{#each masterSpells as |spell key|}}
          <li class="item stat flexrow list-item list-item-shadow spell-card" data-item-id="{{spell._id}}">
            <a class="item-edit item-name-img" title="Edit Item"><img class="sheet-competence-img"src="{{spell.img}}" /></a>
            <span class="item-name-label"><a class="roll-spell"></i>{{spell.name}}</a></span>
            <span class="item-field-label-medium flex-center">{{upperFirst spell.system.spelltype}}</span>
             <span class="item-field-label-medium flex-center">{{upperFirst spell.system.rangeDescription}}</span>
            <span class="item-field-label-medium flex-center">{{upperFirst spell.system.actionDescription}}</span>
            <a class="item-field-label-medium flex-center roll-spell-damage">{{upperFirst spell.system.damageDescription}}</a>
            <span class="item-field-label-extra-short flex-center">{{#if spell.system.sustained}}<i class="fas fa-circle"></i>{{/if}}</span>
            <span class="item-field-label-extra-short flex-center">{{#if spell.system.reaction}}<i class="fas fa-circle"></i>{{/if}}</span>
            <span class="item-field-label-extra-short flex-center">{{#if spell.system.components}}<i class="fas fa-circle"></i>{{/if}}</span>
            <span class="item-filler">&nbsp;</span>
            <div class="item-controls item-controls-fixed">
              <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>  
          </li>
          {{/each}}
        </ul>
        {{/if}}

      </div>