
{{#if character}}


<ul class="stat-list alternate-list">
            

            {{#if languages}}
            <li class="item flexrow list-item items-title-bg">
              <span class="item-name-label-header-long">
                <h3><label class="items-title-text">Languages</label></h3>
              </span>
            </li>
            {{#each languages as |language key|}}
            <li class="item flexrow list-item list-item-shadow" data-item-id="{{language._id}}">
                <a class="item-edit item-name-img flex-center" style="margin-left:4px;" title="Edit Item">
                    <img class="sheet-competence-img flex-center" src="{{language.img}}" />
                </a>
                <span class="flex1 big-label side-border">{{language.name}}</span>
                <span class="flex3 item-description side-border">{{{language.system.description}}}</span>
                <span class="flex1 item-controls item-controls-fixed flex-center">
                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                </span>
            </li>
            {{/each}}
            {{/if}}


  {{#if originTraits}}
            <li class="item flexrow list-item items-title-bg">
              <span class="item-name-label-header-long">
                <h3><label class="items-title-text">Origin Traits</label></h3>
              </span>
            </li>
            {{#each originTraits as |trait key|}}
            <li class="item flexrow list-item list-item-shadow" data-item-id="{{trait._id}}">
                <a class="item-edit item-name-img flex-center" style="margin-left:4px;" title="Edit Item">
                    <img class="sheet-competence-img flex-center" src="{{trait.img}}" />
                </a>
                <span class="flex1 big-label side-border">{{trait.name}}</span>
                <span class="flex3 item-description side-border">{{{trait.system.description}}}</span>
                <span class="flex1 item-controls item-controls-fixed flex-center">
                       {{#if (ne trait.type "temporary trait")}}
                          <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                      {{/if}}
                </span>
            </li>
            {{/each}}
            {{/if}}


             {{#if generalTraits}}
            <li class="item flexrow list-item items-title-bg">
              <span class="item-name-label-header-long">
                <h3><label class="items-title-text">General Traits</label></h3>
              </span>
            </li>
            {{#each generalTraits as |trait key|}}
            <li class="item flexrow list-item list-item-shadow" data-item-id="{{trait._id}}">
                <a class="item-edit item-name-img flex-center" style="margin-left:4px;" title="Edit Item">
                    <img class="sheet-competence-img flex-center" src="{{trait.img}}" />
                </a>
                <span class="flex1 big-label side-border">{{trait.name}}</span>
                <span class="flex3 item-description side-border">{{{trait.system.description}}}</span>
                <span class="flex1 item-controls item-controls-fixed flex-center">
                     {{#if (ne trait.type "temporary trait")}}
                          <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                      {{/if}}
                </span>
            </li>
            {{/each}}
            {{/if}}


             {{#if defenseTraits}}
            <li class="item flexrow list-item items-title-bg">
              <span class="item-name-label-header-long">
                <h3><label class="items-title-text">Defensive Traits</label></h3>
              </span>
            </li>
            {{#each defenseTraits as |trait key|}}
            <li class="item flexrow list-item list-item-shadow" data-item-id="{{trait._id}}">
                <a class="item-edit item-name-img flex-center" style="margin-left:4px;" title="Edit Item">
                    <img class="sheet-competence-img flex-center" src="{{trait.img}}" />
                </a>
                <span class="flex1 big-label side-border">{{trait.name}}</span>
                <span class="flex3 item-description side-border">{{{trait.system.description}}}</span>
                <span class="flex1 item-controls item-controls-fixed flex-center">
                     {{#if (ne trait.type "temporary trait")}}
                          <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                      {{/if}}
                </span>
            </li>
            {{/each}}
            {{/if}}
        {{#if offenseTraits}}
            <li class="item flexrow list-item items-title-bg">
              <span class="item-name-label-header-long">
                <h3><label class="items-title-text">Offensive Traits</label></h3>
              </span>
            </li>
            {{#each offenseTraits as |trait key|}}
            <li class="item flexrow list-item list-item-shadow" data-item-id="{{trait._id}}">
                <a class="item-edit item-name-img flex-center" style="margin-left:4px;" title="Edit Item">
                    <img class="sheet-competence-img flex-center" src="{{trait.img}}" />
                </a>
                <span class="flex1 big-label side-border">{{trait.name}}</span>
                <span class="flex3 item-description side-border">{{{trait.system.description}}}</span>
                <span class="flex1 item-controls item-controls-fixed flex-center">
                     {{#if (ne trait.type "temporary trait")}}
                          <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                      {{/if}}
                </span>
            </li>
            {{/each}}
            {{/if}}
       

</ul>{{/if}}