<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
      <img class="item-sheet-img" src="{{img}}" data-edit="img" title="{{name}}"/>
      <div class="header-fields">
          <h1 class="charname"><input name="name" type="text" value="{{name}}" placeholder="Name"/></h1>
      </div>
  </header>
  
  {{> systems/avd12/templates/items/partial-item-nav.hbs}}


  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{> systems/avd12/templates/items/partial-item-description.hbs}}
    
    <div class="tab details" data-group="primary" data-tab="details">

      <div class="tab" data-group="primary">
        <ul>

          <li class="flexrow">
              <label class="item-field-label-long">Bonus automation</label>
              <input type="checkbox" class="item-field-label-short" name="system.computebonus" {{checked system.computebonus}} />
            </li>
            {{#if system.computebonus}}
              <li class="flexrow">
                
                <label class="item-field-label-long">Bonus path</label>
                <select class="item-field-label-long" type="text" name="system.bonusdata" value="{{system.bonusdata}}" data-dtype="String">
                  {{#select system.bonusdata}}
                    {{#each bonusList as |bonus idx|}}
                      <option value="{{bonus}}">{{bonus}}</option>
                    {{/each}}
                  {{/select}}
                </select> 
              </li>
              <li class="flexrow">
                <label class="item-field-label-long">Bonus value</label>
                <input type="text" class="item-field-label-short" name="system.bonusvalue" value="{{system.bonusvalue}}" data-dtype="Number"/>
              </li>
            {{/if}}

          <!--
          <li class="flexrow">
            <label class="item-field-label-long">Selected</label>
            <input type="checkbox" class="item-field-label-short" name="system.selected" {{checked system.selected}} />
          </li>
          -->
          
        </ul>
    </div>
  </div>

  </section>
</form>
