<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
      <img class="item-sheet-img" src="{{img}}" data-edit="img" title="{{name}}"/>
      <div class="header-fields">
          <h1 class="charname"><input name="name" type="text" value="{{name}}" placeholder="Name"/></h1>
      </div>
  </header>
  
  {{> systems/fvtt-avd12/templates/items/partial-item-nav.hbs}}


  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{> systems/fvtt-avd12/templates/items/partial-item-description.hbs}}
    
    <div class="tab details" data-group="primary" data-tab="details">

      <div class="tab" data-group="primary">
        <ul>
          {{#each system.levels as |level index|}}
            <hr>
            <li class="flexrow">
              <label class="item-field-label-long">Level {{index}}</label>
            </li>
            <li class="flexrow">
              <div class="drop-module-step" data-level-index="{{index}}"><label data-level-index="{{index}}">Drop traits/actions/... here !</label></div>
            </li>

            {{#each level.features as |feature id|}}
              <li class="flexrow item" data-level-index="{{../index}}" data-feature-id="{{feature._id}}" >
                <label class="item-field-label-medium">{{feature.name}}</label>
                <input type="checkbox" class="item-field-label-short feature-level-selected" {{checked feature.system.selected}} />
                <label class="item-field-label-long2">{{{feature.descriptionHTML}}}</label>
                <div class="item-controls item-controls-fixed">
                  <a class="item-control module-feature-delete" title="Delete Feature"><i class="fas fa-trash"></i></a>
                </div>
              </li>
            {{/each}}
          {{/each}}

          <li class="flexrow item">
            <button class="chat-card-button add-module-level">Add a level</button>
          </li>

        </ul>
    </div>

  </div>

  </section>
</form>
