
<li class='flexrow'>
  <h3 class='item-field-label-long'>
    Mitigations
  </h3>
</li>

<li class='flexrow'>
  {{#each system.mitigation as |mitigation key|}}
    <div>
      <label class='item-field-label-short'>
        {{upperFirst key}}
      </label>
      <input
        type='text'
        class='item-field-label-short padd-right'
        name="system.mitigation.{{key}}.value"
        value="{{mitigation.value}}"
        data-dtype='Number'
      />
      <label>
        &nbsp;
      </label>
    </div>
  {{/each}}
</li>

<li class='flexrow'>
  <h3 class='item-field-label-long'>
    Bonus
  </h3>
</li>

<li class='flexrow'>

    <div class="flex-center flexcol">
      <label class='item-field-label-short'>
       Block
      </label>
      <input
        type='text'
        class='item-field-label-short'
        name="system.bonus.block.value"
        value="{{system.bonus.block.value}}"
        data-dtype='Number'
      />
     
    </div>

    <div class="flex-center flexcol">
      <label class='item-field-label-short'>
       Dodge
      </label>
      <input
        type='text'
        class='item-field-label-short'
        name="system.bonus.dodge.value"
        value="{{system.bonus.dodge.value}}"
        data-dtype='Number'
      />
      
    </div>

    <div class="flex-center flexcol">
      <label class='item-field-label-short'>
       Resist
      </label>
      <input
        type='text'
        class='item-field-label-short'
        name="system.bonus.resistance.value"
        value="{{system.bonus.resistance.value}}"
        data-dtype='Number'
      />
   
    </div>


    <div class="flex-center flexcol">
      <label class='item-field-label-short'>
        Movespeed
      </label>
      <input
        type='text'
        class='item-field-label-short'
        name="system.bonus.movespeed"
        value="{{system.bonus.movespeed}}"
        data-dtype='Number'
      />
    
    </div>
    
    <div class="flex-center flexcol">
      <label class='item-field-label-short'>
        Health
      </label>
      <input
        type='text'
        class='item-field-label-short'
        name="system.bonus.health"
        value="{{system.bonus.health}}"
        data-dtype='Number'
      />
    </div>
</li>

  


<li class='flexrow'>
  <h3 class='item-field-label-long'>
    Focus
  </h3>
  <input type="checkbox" class="item-field-label-short item-checkbox" name="system.focus.isfocus" {{checked system.focus.isfocus}} />  
</li>

  {{#if system.focus.isfocus}}
    <li class='flexrow'>
      <select class="item-field-label-long" type="text" name="system.focus.core" value="{{system.focus.core}}" data-dtype="String">
        {{#select system.focus.core}}
          {{> systems/avd12/templates/items/partial-options-focus-core.hbs}}
        {{/select}}
      </select> 
      <select class="item-field-label-long" type="text" name="system.focus.treatment" value="{{system.focus.treatment}}" data-dtype="String">
        {{#select system.focus.treatment}}
          {{> systems/avd12/templates/items/partial-options-focus-treatment.hbs}}
        {{/select}}
      </select> 
      <select class="item-field-label-long" type="text" name="system.focus.bond" value="{{system.focus.bond}}" data-dtype="String">
        {{#select system.focus.bond}}
          {{> systems/avd12/templates/items/partial-options-focus-bond.hbs}}
        {{/select}}
      </select> 
      </li>
  {{/if}}
<li class='flexrow'>
  <label class='item-field-label-long'>
    Focus Points Bonus
  </label>
  <input
    type='text'
    class='item-field-label-short'
    name='system.focuspointsbonus'
    value="{{system.focuspointsbonus}}"
    data-dtype='Number'
  />

  <label class='item-field-label-short'>
    &nbsp;
  </label>

  <label class='item-field-label-long'>
    Focus Regen Bonus
  </label>
  <input
    type='text'
    class='item-field-label-short'
    name='system.focusregenbonus'
    value="{{system.focusregenbonus}}"
    data-dtype='Number'
  />
</li>

<li class='flexrow'>
  <label class='item-field-label-long'>
    Burn Chance Bonus
  </label>
  <input
    type='text'
    class='item-field-label-short'
    name='system.burnchancebonus'
    value="{{system.burnchancebonus}}"
    data-dtype='Number'
  />

 <label class='item-field-label-short'>
    &nbsp;
  </label>

  <label class='item-field-label-long'>
      Spell Attack Bonus
    </label>
    <input
      type='text'
      class='item-field-label-short'
      name='system.bonus.spellattack'
      value="{{system.bonus.spellattack}}"
      data-dtype='Number'
    />
</li>


<li class='flexrow'>
  <label class='item-field-label-long'>
    Spell Damage Bonus
  </label>
  <input
    type='text'
    class='item-field-label-short'
    name='system.bonus.spelldamage'
    value="{{system.bonus.spelldamage}}"
    data-dtype='Number'
  />

 <label class='item-field-label-short'>
    &nbsp;
  </label>
  
</li>

      <!-- "attack": 0,
          "spellattack":0,
          "movespeed":0,
          "health":0,
          "power":0,
          "powerregen":0,
          "spelldamage":0-->



<li class='flexrow'>
  <h3 class='item-field-label-long'>
    Various
  </h3>
</li>

<li class='flexrow'>
  <label class='item-field-label-long'>
    Weight
  </label>
  <input
    type='text'
    class='item-field-label-short'
    name='system.weight'
    value="{{system.weight}}"
    data-dtype='Number'
  />

  <label class='item-field-label-short'>
    &nbsp;
  </label>

  <label class='item-field-label-long'>
    Cost
  </label>
  <input
    type='text'
    class='item-field-label-short'
    name='system.cost'
    value="{{system.cost}}"
    data-dtype='Number'
  />
</li>

{{> systems/avd12/templates/items/partial-item-light.hbs}}